data/
newscrawler/cache/
.vscode/
*cfg
*.pyc
*.pyo
*.pyd
__pycache__/

newscrawler/__pycache__/
newscrawler/data/
newscrawler/logs/
newscrawler/newsweek_sitemaps/
newscrawler/logs.zip
newscrawler/wp_sitemaps.zip

*.log

notebooks/*.json
notebooks/*.parquet
notebooks/data/
notebooks/data_archive/
notebooks/img/
notebooks/img_copy/
notebooks/temp_results/

*.json
*.parquet